/* deleteConfirmar.css */
body {
    background-color: #4d3232;
  }
  
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #b8b2b2;
    border: 1px solid #0f0e0e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #232121;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
